(dugble_common) {
    encode zstd gzip

    header {
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}

{$API_DOMAIN} {
    import dugble_common
    reverse_proxy http://server:8080
}

{$BACKOFFICE_DOMAIN} {
    import dugble_common
    reverse_proxy http://backoffice:8081
}
